<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
</style>
</head>
<body style="background-color:#faf5f1">
<p align = "middle"><b><font face="calibri" size = "6">Recipe Recommendation System</font></b></p>
<div class="card">

<img src="https://images.media-allrecipes.com/userphotos/560x315/2258878.jpg" alt="Food" width="50%" height="50%" align = "middle">
  <div class="container">
  	
    <h4><b><font face="verdana" size = "3">Pear and Gorgonzola Cheese Pizza</font></b></h4> 
    <p><a href="https://www.allrecipes.com/recipe/26897/pear-and-gorgonzola-cheese-pizza/"><font face="verdana" size = "3">Click here for recipe!</font></a></p>
  </div>
  
</div>
<div class="card">

<img src="https://images.media-allrecipes.com/userphotos/560x315/4805115.jpg" alt="Food" width="50%" height="50%" align = "middle">
  <div class="container">
    
    <h4><b><font face="verdana" size = "3">Veggie Pizza</font></b></h4> 
    <p><a href="https://www.allrecipes.com/recipe/15022/veggie-pizza/"><font face="verdana" size = "3">Click here for recipe!</font></a></p>
  </div>
  
</div>
<div class="card">

<img src="https://images.media-allrecipes.com/userphotos/560x315/4542862.jpg" alt="Food" width="50%" height="50%" align = "middle">
  <div class="container">
    
    <h4><b><font face="verdana" size = "3">Quick and Easy Pizza Crust</font></b></h4> 
    <p><a href="https://www.allrecipes.com/recipe/20171/quick-and-easy-pizza-crust/"><font face="verdana" size = "3">Click here for recipe!</font></a></p>
  </div>
  
</div>

<div class="card">

<img src="https://images.media-allrecipes.com/userphotos/560x315/45083.jpg" alt="Food" width="50%" height="50%" align = "middle">
  <div class="container">
    
    <h4><b><font face="verdana" size = "3">Jay's Signature Pizza Crust</font></b></h4> 
    <p><a href="https://www.allrecipes.com/recipe/7245/jays-signature-pizza-crust/"><font face="verdana" size = "3">Click here for recipe!</font></a></p>
  </div>
  
</div>

<div class="card">

<img src="https://images.media-allrecipes.com/userphotos/560x315/694708.jpg" alt="Food" width="50%" height="50%" align = "middle">
  <div class="container">
    
    <h4><b><font face="verdana" size = "3">Four Cheese Margherita Pizza</font></b></h4> 
    <p><a href="https://www.allrecipes.com/recipe/133948/four-cheese-margherita-pizza/"><font face="verdana" size = "3">Click here for recipe!</font></a></p>
  </div>
  
</div>

</body>
</html> 